.superpowers/
._*
.DS_Store
node_modules/
.next/
.env.local
.env*.local
.worktrees/
.creds

# next.js
/out/
next-env.d.ts

# testing / coverage
/coverage
/test-results
/playwright-report

# vercel
.vercel

# typescript
*.tsbuildinfo
*.pem

# prisma generated client
/lib/generated/prisma
